<h2>All Jobs for <%= @company.name %></h2>

<% @jobs.each do |job| %>
  <ul>
  <%= link_to job.title, company_job_path(@company, job) %> at <%= job.company.name %>
  <%= link_to "Edit", edit_company_job_path(@company, job) %>
  <%= link_to "Delete", company_job_path(@company, job), method: "delete" %>
  </ul>
<% end %>

<div>
  <h3> Add a contact person for <%= @company.name %>:</h3>

  <%= form_for ([@company, @contact]) do |f| %>
    <%= f.label :Name %>
    <%= f.text_field :full_name %>

    <%= f.label :Position %>
    <%= f.text_field :position %>

    <%= f.label :Email %>
    <%= f.text_field :email %>

    <%= f.submit %>
  <% end %>

</div>

<div>
  <h3>Contacts at <%= @company.name %>: </h3>
  <% @company.contacts.each do |contact| %>
  <ul>
    <%= contact.full_name %>
    <%= contact.position %>
    <%= contact.email %>
  </ul>
  <% end %>

</div>
